USE [KYK_Dijital_Yasam_Kocu]
GO
/****** Object:  Table [dbo].[YemekMenusu]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YemekMenusu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuTarih] [date] NOT NULL,
	[Kahvalti] [nvarchar](200) NOT NULL,
	[Aksam] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MenuTarih] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YemekGeriBildirim]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YemekGeriBildirim](
	[GeribildirimID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Ogün] [nvarchar](10) NOT NULL,
	[Puan] [tinyint] NOT NULL,
	[Yorum] [nvarchar](200) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GeribildirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_YemekOrtalamaPuan]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_YemekOrtalamaPuan]
AS
SELECT 
    ym.MenuTarih,
    yg.Ogün,
    AVG(yg.Puan) AS OrtalamaPuan,
    COUNT(*) AS OySayisi
FROM YemekGeribildirim yg
JOIN YemekMenusu ym ON yg.MenuID = ym.MenuID
GROUP BY ym.MenuTarih, yg.Ogün;
GO
/****** Object:  View [dbo].[vw_YemekIstatistik]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_YemekIstatistik]
AS
SELECT
    ym.MenuTarih,
    yg.Ogün,
    COUNT(*) AS OySayisi,
    AVG(CAST(yg.Puan AS FLOAT)) AS OrtalamaPuan,
    MIN(yg.Puan) AS EnDusukPuan,
    MAX(yg.Puan) AS EnYuksekPuan
FROM YemekGeribildirim yg
JOIN YemekMenusu ym ON yg.MenuID = ym.MenuID
GROUP BY ym.MenuTarih, yg.Ogün;
GO
/****** Object:  Table [dbo].[Bildirimler]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirimler](
	[BildirimID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Mesaj] [nvarchar](200) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[MakineID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BildirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CamasirMakineleri]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CamasirMakineleri](
	[MakineID] [int] IDENTITY(1,1) NOT NULL,
	[MakineNo] [nvarchar](10) NOT NULL,
	[Durum] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MakineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[DuyuruID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](100) NOT NULL,
	[Icerik] [nvarchar](500) NOT NULL,
	[EkleyenKullaniciID] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DuyuruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](25) NOT NULL,
	[TC] [char](11) NOT NULL,
	[Sifre] [nvarchar](15) NOT NULL,
	[RolID] [int] NOT NULL,
	[Resim] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Kullanicilar_Tc] UNIQUE NONCLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odalar]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odalar](
	[OdaID] [int] IDENTITY(1,1) NOT NULL,
	[OdaNo] [nvarchar](3) NOT NULL,
	[Blok] [nvarchar](1) NOT NULL,
	[Kat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OdaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[OdaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RolAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[YemekGeriBildirim] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD  CONSTRAINT [FK_Bildirimler_Makine] FOREIGN KEY([MakineID])
REFERENCES [dbo].[CamasirMakineleri] ([MakineID])
GO
ALTER TABLE [dbo].[Bildirimler] CHECK CONSTRAINT [FK_Bildirimler_Makine]
GO
ALTER TABLE [dbo].[Duyurular]  WITH CHECK ADD FOREIGN KEY([EkleyenKullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roller] ([RolID])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Rol]
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD FOREIGN KEY([OdaID])
REFERENCES [dbo].[Odalar] ([OdaID])
GO
ALTER TABLE [dbo].[YemekGeriBildirim]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[YemekGeriBildirim]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[YemekMenusu] ([MenuID])
GO
ALTER TABLE [dbo].[CamasirMakineleri]  WITH CHECK ADD CHECK  (([Durum]='Calisiyor' OR [Durum]='Dolu' OR [Durum]='Bos'))
GO
ALTER TABLE [dbo].[Odalar]  WITH CHECK ADD CHECK  (([Blok]='B' OR [Blok]='A'))
GO
ALTER TABLE [dbo].[Odalar]  WITH CHECK ADD CHECK  (([Kat]<=(2)))
GO
ALTER TABLE [dbo].[Odalar]  WITH CHECK ADD CHECK  (([OdaNo]>='101' AND [OdaNo]<='110'))
GO
ALTER TABLE [dbo].[YemekGeriBildirim]  WITH CHECK ADD CHECK  (([Ogün]='Aksam' OR [Ogün]='Kahvalti'))
GO
ALTER TABLE [dbo].[YemekGeriBildirim]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_EnIyiYemekler]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EnIyiYemekler]
    @BaslangicTarihi DATE,
    @BitisTarihi DATE
AS
BEGIN
    SELECT 
        ym.MenuTarih,
        yg.Ogün,
        AVG(CAST(yg.Puan AS FLOAT)) AS OrtalamaPuan,
        COUNT(*) AS OySayisi
    FROM YemekGeribildirim yg
    JOIN YemekMenusu ym ON yg.MenuID = ym.MenuID
    WHERE ym.MenuTarih BETWEEN @BaslangicTarihi AND @BitisTarihi
    GROUP BY ym.MenuTarih, yg.Ogün
    HAVING AVG(CAST(yg.Puan AS FLOAT)) >= 4
    ORDER BY OrtalamaPuan DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YemekEkle]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_YemekEkle]
(
    @KullaniciID INT,
    @MenuTarih DATE,
    @Kahvalti NVARCHAR(200),
    @Aksam NVARCHAR(200)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM Kullanicilar
        WHERE KullaniciID = @KullaniciID
          AND RolID = 2   -- Personel
    )
    BEGIN
        INSERT INTO YemekMenusu (MenuTarih, Kahvalti, Aksam)
        VALUES (@MenuTarih, @Kahvalti, @Aksam);
    END
    ELSE
    BEGIN
        RAISERROR ('HATA: Yemek ekleme yetkisi sadece PERSONEL kullanıcılarındadır.', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YemekGeriBildirimEkle]    Script Date: 31.03.2026 17:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YemekGeriBildirimEkle]
(
    @MenuID INT,
    @KullaniciID INT,
    @Ogun NVARCHAR(10),
    @Puan TINYINT,
    @Yorum NVARCHAR(200)
)
AS
BEGIN
    INSERT INTO YemekGeriBildirim
    (MenuID, KullaniciID, Ogün, Puan, Yorum)
    VALUES
    (@MenuID, @KullaniciID, @Ogun, @Puan, @Yorum);
END;
GO
